<footer>
        <div class="container">
            <div class="left-content">
                <a href="/" class="f-logo">
                    <img src="{{ logopath }}" alt="">
                </a>
                <div class="box">
                    <div class="f-newletter-form form-field">
                        <h6>Newsletter</h6>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <div class="row">
                            <div class="col-xs-12 email-field">
                                <input type="text" value="" placeholder="Enter Your Email">
                                <input type="submit" value="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="right-content">
                <div class="box">
                    <h6>Quick Links</h6>
                    <ul>
                        <li class="current-menu-item"><a href="./index.html">Home</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Our Processes</a></li>
                        <li><a href="">FAQ’s</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h6>Resources</h6>
                    <ul>
                        <li><a href="">Why Recycle</a></li>
                        <li><a href="">Our Commitment</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h6>Countries</h6>
                    <ul>
                        <li><a href="./british-columbia.html">Canada</a></li>
                        <li><a href="./france.html">France</a></li>
                        <li><a href="./norway.html">Norway</a></li>
                        <li><a href="./germany.html">Germany</a></li>
                        <li><a href="./belgium.html">Belgium</a></li>
                        <li><a href="./united-kingdom.html">United Kingdom</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h6>Social Media</h6>
                    <ul class="social-icon">
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>