<!-- Start: Header -->
<header>
        <div class="header-top">
            <div class="container">
                <p>Click Here To Change Country Location <i class="fas fa-chevron-down"></i></p>
            </div>
        </div>
        <div class="country-megamenu">
            <div class="container">
                <span class="close">
                    <i class="fal fa-times-circle"></i>
                </span>
                <ul>
                    <li class="ca-c">
                        <a href="./british-columbia.html">Canada</a>
                    </li>
                    <li class="fa-c">
                        <a href="./france.html">France</a>
                    </li>
                    <li class="uk-c">
                        <a href="./united-kingdom.html">United Kingdom</a>
                    </li>
                    <li class="no-c">
                        <a href="./norway.html">Norway</a>
                    </li>
                    <li class="be-c">
                        <a href="./belgium.html">Belgium</a>
                    </li>
                    <li class="de-c">
                        <a href="./germany.html">Germany</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="header-row">
                <div class="header-left">
                    <div class="logo">
                        <a href="/">
                            <img src="{{ logopath }}" alt="{{ site_name }}">
                        </a>
                    </div>
                </div>
                <div class="header-right">
                    <div class="nav-wrap">
                        <nav id="sidebar-nav">
                            <ul class="nav">
                                <li>
                                    <a href="./index.html">Home</a>
                                </li>
                                <li>
                                    <a href="">About Us</a>
                                    <ul>
                                        <li>
                                            <a href="">Menu Item 1</a>
                                        </li>
                                        <li>
                                            <a href="">Menu Item 2</a>
                                        </li>
                                        <li>
                                            <a href="">Menu Item 3</a>
                                        </li>
                                        <li>
                                            <a href="">Menu Item 4</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Our Process</a>
                                </li>
                                <li>
                                    <a href="">Our Facilties</a>
                                </li>
                                <li>
                                    <a href="">FAQ's</a>
                                </li>
                                <li>
                                    <a href="">Our Initiatives</a>
                                </li>
                                <li class="link-btn">
                                    <a href="">Get in Touch</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-btn-wrap">
                        <ul>
                            <li>
                                <div class="country-wrap">
                                    <span class="cur ca"></span>
                                </div>
                            </li>
                            <li class="nav-trigger-wrap">
                                <div class="nav-trigger">
                                    <div class="icon">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- End: Header -->
