<section class="main-banner flexslider">
        <ul class="slides">
            <li class="slide-item">
                <img src="{{ base_path ~ directory }}/img/banner.jpg" alt="">
                <div class="caption">
                    <div class="container">
                        <h1>Positively Affecting <br>Where We Live.</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>sed do eiusmod tempor incididunt
                            ut labore et dolore</p>
                        <p class="btn-row">
                            <a href="" class="btn secondary-btn">Learn More</a>
                        </p>
                    </div>
                </div>
            </li>
            <li class="slide-item">
                <img src="{{ base_path ~ directory }}/img/banner2.jpg" alt="">
                <div class="caption desktop-hide">
                    <div class="container">
                        <h1>Our Facilities</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>sed do eiusmod tempor incididunt
                            ut labore et dolore</p>
                        <p class="btn-row">
                            <a href="" class="btn secondary-btn">Learn More</a>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </section>