<section class="main-banner flexslider">
        <ul class="slides">
{% for row in rows %} {% set row_classes = [ default_row_class ? 'views-row', 'panel', 'panel-default', ] %}

{{ row.content }}
 
{% endfor %}
</ul>
    </section>


          