{#
/**
 * @file
 * Tara's theme implementation to display front page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template.
 *
 */
#}


<div id="main-wrapper" class="main-wrapper">
{% include '@gypsum/template-parts/header.html.twig' %}

{{ page.content_home }}

  
   

    

   

  {% include '@gypsum/template-parts/footer.html.twig' %} 
  <section class="choose-counrty-popup">
        <div class="popup-wrapper">
            <span class="close">
                <i class="fal fa-times-circle"></i>
            </span>
            <img src="{{ base_path ~ directory }}/img/logo.png" alt="" class="popup-logo">
            <h3>Choose Your Country</h3>
            <ul class="popup-counrty-listing">
                <li>
                    <a href="" class="uas-c">USA</a>
                </li>
                <li>
                    <a href="./british-columbia.html" class="ca-c">Canada</a>
                </li>
                <li>
                    <a href="./france.html" class="fa-c">France</a>
                </li>
                <li>
                    <a href="./belgium.html" class="be-c">Belgium</a>
                </li>
                <li>
                    <a href="./norway.html" class="no-c">Norway</a>
                </li>
                <li>
                    <a href="./united-kingdom.html" class="uk-c">UK</a>
                </li>
                <li>
                    <a href="./germany.html" class="de-c">Germany</a>
                </li>
            </ul>
        </div>
    </section>

    <i class="scrollup"><i class="fal fa-angle-up"></i></i>

  
		
</div><!-- /main-wrapper -->
